<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Theme park Lars</title>
  <link rel="stylesheet" href="img/style.css">
</head>
<body>
<h1>Theme park Lars</h1>
<h2>We found this attraction: <span th:text="${attraction.getName()}"></span></h2>
<p>Responsible: <span th:text="${attraction.getResponsible().getFirstName()} +' '+ ${attraction.getResponsible().getSurName()}"></span></p>
<img onerror="this.src='img/noimage.jpg'" th:src="@{${attraction.getPhoto()}}"/>
<div>
  <p></p>
</div>
<a href="/">Back to home page</a>
</body>
</html>