<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Theme park Lars</title>
  <link rel="stylesheet" href="img/style.css">
</head>
<body>
<h1>Theme park Lars</h1>
<form action="/4_NewStaff">
  <p>
    <label for="firstname">First name</label>
    <input type="text" name="firstname" id="firstname">
  </p>
  <p>
    <label for="surname">Surname</label>
    <input type="text" name="surname" id="surname">
  </p>
  <p>
    <label for="startDate">Employed since (dd/MM/yyyy)</label>
    <input type="text" name="startDate" id="startDate">
  </p>
  <p>
    <input type="checkbox" name="student" value="student" id="student">
    <label for="student">working student?</label>
  </p>
  <p>
    <input type="submit" name="register" value="Confirm staff member">
  </p>
</form>
<a href="/">Back to home page</a>
</body>
</html>