<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Theme park Lars</title>
  <link rel="stylesheet" href="img/style.css">
</head>
<body>
<h1>Theme park Lars</h1>
<form action="/8_ShowThemeparks">
  <p>
    <label for="themePark">Name theme park</label>
    <input type="text" name="themePark" id="themePark">
  </p>
  <p>
    <input type="submit" name="register" value="Confirm theme park">
  </p>

</form>
<a href="/">Back to home page</a>
</body>
</html>