<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Theme park Lars</title>
  <link rel="stylesheet" href="img/style.css">
</head>
<body>
<h1>Theme park Lars</h1>
<h2>New attraction</h2>
<form action="10_newAttraction">
  <p>
    <label for="attractionName">Name attraction</label>
    <input type="text" name="attractionName" id="attractionName">
  </p>
  <p>
    <label for="duration">Duration (in sec)</label>
    <input type="text" name="duration" id="duration">
  </p>
  <p>
    <label for="attractionPhoto">Photo</label>
    <input type="text" name="attractionPhoto" id="attractionPhoto">
  </p>
  <p>
    <select name="themePark" id="themePark">
      <option value="-1" selected>In which theme park?</option>
      <option th:each="themePark: ${themeParks}" th:value="${themeParkStat.index}"
              th:text="${themePark.getName()}">
    </select>
</p>
  <p>
    <select name="responsible" id="responsible">
      <option value="-1" selected>Who is responsible for this attraction?</option>
      <option th:each="staffMember : ${staffMembers}" th:value="${staffMember.getFirstName()} + ' ' + ${staffMember.getSurName()}"
              th:text="${staffMember.getFirstName()} + ' ' + ${staffMember.getSurName()}">
    </select>
  </p>
  <p>
    <input type="submit" name="register" value="Confirm attraction">
  </p>

</form>
<a href="/">Back to home page</a>

</body>
</html>